body{
  background-color: rgba(255, 205, 3, 0.1);
}
.pocemon__logo-img{
  width:500px
}
.form {
  max-width: 500px;
  border-radius: 20px;
  box-shadow: -6px 7px 17px 0px rgba(34, 60, 80, 0.2);
}
.form-label{
  max-width: 350px
}
.pocemon__list{
  gap: 20px;
}
.pocemon__card {
  width: 360px;
  border-radius: 20px;
  box-shadow: -6px 7px 17px 0px rgba(34, 60, 80, 0.2);
}

.card-about {
  background-color: rgba(255, 205, 3, 0.1);
  box-shadow: -6px 7px 7px -3px rgba(34, 60, 80, 0.11);
}

@media only screen and (max-width:575px) {
  .pocemon__logo-img{
    width:400px
  }
}

@media only screen and (max-width:425px) {
  .pocemon__logo-img{
    width:300px
  }
}